body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
}

.sidebar {
    width: 200px;
    background-color: #333;
    padding: 20px;
    color: white;
    height: 100vh;
}

.sidebar h2 {
    color: #fff;
    text-align: center;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 20px 0;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
}

.sidebar ul li a:hover {
    text-decoration: underline;
}

.content {
    flex: 1;
    padding: 20px;
    background-color: #f4f4f4;
}

.content h1 {
    margin-top: 0;
}

.secao {
    display: none;
}

#dashboard {
    display: block;
}
